* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

html {
  scroll-behavior: smooth;

}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  /* overflow-x: hidden; */
  background-color: #ffffff;
}

.contenedor {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  min-height: 25vh;
}

img {
  max-width: 75%;
  height: 50%;
}

.color-aqua {
  color: #34b0be;
}

.bg-light-white{
  background-color: #f9f5f2;
}
.color-white {
  color: #ffffff;
}
.bg-black{
  background-color:#423f40;
}
.color-black {
  color: #423f40;
}

.bg-orange{
  background-color: #F26440;
}
.color-orange {
  color: #F26440;
}

.color-blue {
  color: #264de4;
}

.color-yellow {
  color: #F0DB4F;
}

.color-purple {
  color: #563d7c;
}

.color-blue-react {
  color: #61DBFB
}

.color-brown {
  color: #F1502F;
}

.bg-green{
  background-color: #197f5b;
}
.color-green{
  color:#197f5b;
}

.bg-white{
  background-color: #ffffff;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.d-flex {
  display: flex;
}

.max-height-0 {
  max-height: 100vh;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.title {
  font-weight: bolder;
  font-size: 50px;

}

.subtitle {
  font-weight: bolder;
  font-size: 32px;
  color: #ffffff;
  padding: .5rem;
}

.small-subtitle {
  font-size: .8rem;
}

.subsection_title {
  margin: 1rem 0;
  padding: .5rem;
  font-size: 20px;
  font-weight: bold;
}

.fw-bolder {
  font-weight: bolder;
}

.zoom-text {
  font-size: 105%;
  font-weight: bold;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  width: 100%;
  border-radius: 5px;

}
.card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem .5rem;
}
.card-image {
  max-width: 100%;
  max-height: auto;
}
.max-width-100 {
  max-width: 100%;

}

.card-title {
  /* margin: 1rem auto; */
  padding: 1rem .5rem;
  font-weight: bold;
}

.card-text {
  color: #D1CECA;
  padding: .5rem;
}

.primary-shadow {
  box-shadow: 1.5px 1.5px 1px #3e415a;
}

.btn-one {
  padding:.5rem;
  background-color: #ffffff;
  color: #197f5b;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #ffffff;
  font-weight: bold;
  transition: all 400ms;
  cursor: pointer;
}

.btn-one:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 1px 1px 1px #ffffff;
  opacity: .9;
  transition: all 400ms;

}

/*************Animations**************/
/*************************************/
.element-from-left {
  opacity: 0;
  transition: translateX 1s ease-in-out;
}
.element-from-right {
  opacity: 0;
  transition: translateX 1s ease-in-out;
}
.element-from-up {
  opacity: 0;
  transition: translateX 1s;
}

.element-from-grow{
  opacity: 0;
  transition: all 2s;
}

.from-left-animation {
  animation: fromLeftAnimation 1.5s;
  opacity: 1;
}
.from-right-animation {
  animation: fromRightAnimation 1.5s;
  opacity: 1;
}
.from-up-animation {
  animation: fromUpAnimation 1.3s;
  opacity: 1;
}

.from-grow-animation{
  animation: grow 1.5;
  opacity: 1;

}

@keyframes fromLeftAnimation {
  0% {
    transform: translateX(-150px);
  }

  50% {
    transform: translateX(25px);

  }

  100% {
    transform: translateX(0);

  }
}

@keyframes fromRightAnimation {
  0% {
    transform: translateX(150px);
  }

  50% {
    transform: translateX(-25px);

  }

  100% {
    transform: translateX(0);

  }
}

@keyframes fromUpAnimation {
  0% {
    transform: translateY(50px);
  }

  50% {
    transform: translateY(-35px);

  }

  100% {
    transform: translateY(0);

  }
}

@keyframes grow {
  0% {
    transform:scale(.5);
    
  }

  50% {
    transform:scale(.7);
  }

  100% {
    transform: scale(1);
  }
}

.matrix:hover {
  -webkit-transform: perspective(50px) rotateY(1deg);
  transform: perspective(50px) rotateY(1deg);
}

/***********End Animations************/
/*************************************/

/*************Navegacion**************/
/*************************************/
.main-header .contenedor {
  min-height: 5rem;
  padding: .5rem .5rem;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: 10px;
  /* background-color: #24263599;
  border: solid 1px silver; */
  transition: box-shadow 500ms;
  box-shadow: .3px .3px 3px 1px #ffffff;

}

.main-header .contenedor:hover{
  box-shadow: .1px .1px 10px 2px #423f40;
  /* background-color: #24263599; */
  /* border: solid 1px silver; */

}

.main-nav {
  padding: .5rem .1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 700ms ease-in;
}

.main-menu {
  color: #ffffff;
}

.show-menu {
  max-height: 100vh;
}

.menu-item {
  margin: .5rem .1rem;
  padding: .5rem 1rem;
  white-space: nowrap;
  cursor: pointer;
  font-weight: bold;
}

.menu-item:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  opacity: .7;

}

.menu-item a {
  transition: font-size .1s ease;
  display: block;
}

.btn-nav {
  display: block;
  position: absolute;
  z-index: 2;
  top: 1.3rem;
  right: 1.3rem;
  font-size: 2rem;
  cursor: pointer;

}

.btn-nav:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.contenedor.nav-effect {
  /* box-shadow: .1px .1px 10px 5px #71748d;
  background-color: #24263599;
  border: solid 1px silver;
  transition: box-shadow 500ms; */

  box-shadow: .1px .1px 10px 2px #423f40;


}

/*************Jumbotron***************/
/*************************************/
.jumbotron{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  /* background-image: url('../images/teclado.jpg'),linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)); */
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 0;
  border-bottom-left-radius:8%;
  /* border-top-right-radius:5%; */
  overflow: hidden;
  /* background-color: #197f5b; */
  background-image: linear-gradient(to top,#197f5b90,#197f5b);

}

/* .jumbotron::before{
  content:' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
  background-color: #0A0A0A99;
  opacity: .99;
} */

.jumbotron .contenedor {
  padding-top: 5rem;
}

.jumbotron .contenedor>.row {
  min-height: inherit;
  min-width: 100%;
  justify-content: space-between;
  position: relative;
  /* z-index: 3; */
  display:flex;
  justify-content: center;
  align-items: center;
}

.jumbotron_section-left {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  order: 1;

  flex-grow: 1;

}

.jumbotron_section-right {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-align: left;

}

.jumbotron_section-right .btn-one {
  max-width: 30%;
  word-wrap: break-word;
  font-size: .7rem;
}

.jumbotron-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 22vh;
  height: 35vh;
  z-index: -1;
  border-radius: 50%;
  border: solid 1px whitesmoke;
  box-shadow:0 0 3px 1px white inset;
  max-height: 100%;
  background-image: url(../images/Remove\ background-Luis-compress.png);

  background-color: #7bb8a2 ;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

}

.jumbotron-circle:hover{
  box-shadow: .1px .1px 8px 3px white;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.jumbotron-circle .img-fluid {
  max-width: 75%;
  max-height: auto;
}

.social-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: .3rem;
  align-items: center;

}

.social-media_item {
  background-color: #ffffff;
  color: #197f5b;
  margin: .1rem;
  padding: .5rem;
  border-radius: 50%;
  box-shadow: 1px 1px 3px #ffffff;
  transition: all 400ms;


}

.social-media_item:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 1px 1px 1px #ffffff;
  opacity: .9;
  transition: all 400ms;

}

.burbuja{
  background-color: #fff;
  opacity: 0;
  position: absolute;
  bottom: -150;
  left: 15%;
  border-radius: 50%;
  animation: burbujas 3s linear infinite;
}

.burbuja:nth-child(1){
  width: 5rem;
  height: 5rem;
  left: 5%;
  animation-duration: 11s;
  animation-delay: 1.5s;
}

.burbuja:nth-child(2){
  width: 3rem;
  height: 3rem;
  left: 20%;
  animation-duration: 9s;
  animation-delay: 1.5s;

}
.burbuja:nth-child(3){
  width: 2rem;
  height: 2rem;
  left: 40%;
  animation-duration: 7s;
  animation-delay: 1.5s;

}
.burbuja:nth-child(4){
  width: 1rem;
  height: 1rem;
  left: 65%;
  animation-duration: 5s;
  animation-delay: 1s;

}
.burbuja:nth-child(4){
  width: .5rem;
  height: .5rem;
  left: 1%;
  animation-duration: 3s;
  animation-delay: 1s;

}

@keyframes burbujas {
  
  0%{
    bottom: 0;
    opacity: 0;
  }
  30%{
    transform: translate(30px);
  }
  50%{
    opacity: .4;
  }
  100%{
    bottom: 100vh;
    opacity: 0;
  }
  
}


/*************About me****************/
/*************************************/
.about-me .contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  /* background-color: #3f456d; */
  /* border-radius: 20px; */
}

.about-me .subsection_title {
  padding: 1rem;
}

.about-me_text {
  width: 100%;
  padding: 1rem;
  /* font-weight: bold; */
  border-left: solid 5px #197f5b;

}

/*************Proyects*************/
/**********************************/
.proyects .contenedor {
  width: 75%;
  margin: 1rem auto;
  padding: 1rem;
  /* background-color: #f9f5f2; */
  border-radius: 10px;
}

.proyects-main {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.proyects-item {
  padding: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.proyects_link{
  color:#ffffff;
  background-color: #197f5b;
  padding: .3rem;
  border-radius: 5px;
  display: inline-block;
  margin: .1rem auto;
}

.proyects-item .card {
  text-align: center;
  word-break: normal;
  word-wrap: break-word;
  padding: 1rem .5rem;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  box-shadow: 1px 1px 10px 2px #423f40;
  border: solid 1px #197f5b;
  min-height: 350px;
}

.proyects-item .card:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  box-shadow: 1px 1px 5px 1px #423f40;
  opacity: 1;

}

.proyects-item .card-image{
  height: 100px;
}
.proyects-item .card-body{
  justify-content: space-between;
}

.proyects-item .card .card-title {
  padding: .1rem;
 }

.proyects-item .card-body .card-text {
  font-weight: bold;
  /* overflow-y: scroll; */
}



/************* Tecnologies*************/
/******************************************/
.tecnologies .contenedor {
  max-width: 75%;
  margin: 1rem auto;
  padding: 1rem;
  
}

.tecnologies-list {
  width: 100%;
  justify-content: space-between;

}

.tecnologies-list li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 4rem;
  text-align: center;
  transition: all 300ms ease-in-out;

}

.tecnologies-list i {
  /* background-color: #3f456d; */
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  transition: all 300ms ease-in-out;
  box-shadow: .3px .3px 3px 2px white;
  opacity: .95;
  box-shadow: 1px 1px 3px 1px #197f5b;
}

.tecnologies-list i:hover {
  transition: all 300ms ease-in-out;
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  box-shadow: 1px 1px 1px 1px #197f5b;

  opacity: 1;

}

.tecnologies-list p {
  font-size: 1.3rem;
  padding: .5rem 1rem;
  text-align: center;
  padding: .2rem;
  word-wrap: break-word;

}

/************* End Tecnologias*************/
/******************************************/
/*************Contact**********************/
/******************************************/
.contact .contenedor {
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 10px;
}

.contact .contenedor .row {
  min-height: inherit;
}

.contact-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-item {
  align-self: flex-start;
}

.right-item {
  align-self: flex-end;

}

.contact-item .card {
  max-width: 100%;
  word-break: break-all;
  /* word-wrap: break-word; */
  transition: all 300ms ease-in-out;
  box-shadow: 1px 1px 10px 2px #423f40;
  opacity: .95;
  border: solid 1px #197f5b;

}

.contact-item .card:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  box-shadow: 1px 1px 5px 1px #423f40;
  opacity: 1;

}

.contact-item .card svg{
  /* background-color: red; */
  color: red;
}
.contact-item .card-body .card-text {
  font-weight: bold;
}
/*************Footer**************/
.main-footer .contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 7rem;
  margin: 1rem auto 0;
  padding: 1rem;
  
  color: whitesmoke;
  /* color: #000000; */
  font-weight: bold;
}


/*************querys*************/
/********************************/
.contenedor{
  min-height: 50vh;
}
@media(min-width:576px) {
  .title {
    font-size: 80px;

  }

  .subtitle {

    font-size: 41px;

  }

  .small-subtitle {
    font-size: 1rem;
  }

  .subsection_title {
    font-size: 31px;

  }

  /*************Jumbotron**********************/
  /******************************************/
  

  .jumbotron .contenedor {
    max-width: 80%;
    

  }

  .jumbotron_section-left {
    order: 0;

  }

  .social-media_item {
    font-size: 1.5rem;
  }

  .jumbotron-circle {
    width: 40vh;
    height: 40vh;
  }

  /*************End Jumbotron**********************/
  /******************************************/
  .about-me_text {
    width: 60%;

  }
  /*************Proyects**********************/
  /******************************************/
  .proyects-item .card-image{
    height: 150px;
  }

  .proyects-item .card-body{
    justify-content: space-evenly;

  }
  /*************End Proyects**********************/
  /******************************************/  
  /*************Contact me**********************/
  /******************************************/

  .contact-item .card {
    max-width: 75%;
    word-break: keep-all;
  }

  /*************EndContact me**********************/
  /******************************************/
}

@media(min-width:768px) {
  
  /*************Nav**********************/
  /******************************************/
  .main-header .contenedor {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 95%;
  }

  .main-nav {
    padding: 0;
    overflow: initial;

    min-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
  }

  .menu-item {
    margin: 0;
    padding: .5rem .3rem;
  }


  .btn-nav {
    display: none;


  }

  /*************End Nav**********************/
  /******************************************/
  /*************Jumbotron**********************/
  /******************************************/
  .jumbotron_section-left {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .jumbotron_section-right {
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
  }

  /*************End Jumbotron**********************/
  /******************************************/
  /*************Proyects**********************/
  /******************************************/
  
  .proyects-item .card{
    height: 450px;
  }

  .proyects-item .card-image{
    height: 170px;
  }

  /*************End Proyects**********************/
  /******************************************/
  /************* Tecnologies*************/
  /******************************************/
  .tecnologies-list i {
    width: 100%;
    height: 8.5rem;
  }

  .tecnologies-list p {
    font-size: 1rem;
    word-wrap: break-word;
    word-spacing: 1px;
  }

  .tecnologies-list {
    justify-content: flex-start;
  }

  /*************End Tecnologies*************/
  /******************************************/
  /*************Contact me**********************/
  /******************************************/

  .contact-item .card {
    max-width: 50%;
  }

  /*************EndContact me**********************/
  /******************************************/
}

@media(min-width:992px) {
  .title {
    font-size: 125px;

  }

  .subtitle {

    font-size: 50px;

  }

  .small-subtitle {
    font-size: 1.2rem;
  }

  .subsection_title {

    font-size: 45px;

  }

  .contenedor{
    min-height: 75vh;
  }

  /************Header*****************/
  /************************************/
  .menu-item {
    padding: .5rem 1rem;
  }

  /************End Header*****************/
  /************************************/
  /************Jumbotron*****************/
  /************************************/
  .jumbotron-circle {
    width: 50vh;
    height: 50vh;
  }

  /************End Jumbotron*****************/
  /************************************/
  /************Proyects*****************/
  /************************************/
  .proyects-item .card{
    height: 460px;
  }
  .proyects-item .card-image{
    height: 150px;
  }
  .proyects-item .card-body{
    flex-grow: 1;
  }

  /************End Proyects*****************/
  /************************************/

  .contact .contenedor{
    min-height: 50vh;
  }
}