* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.contenedor {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #242635;
}

.span-inline-block {
    display: inline-block;
    width: 100%;
}

.main-title {
    font-weight: bolder;
    font-size: 150px;
    /* font-weight: semibold; */
}

.main-subtitle {
    font-weight: bold;
    font-size: 50px; 
    color: #ffffff;

}

.subsection-title {
    font-size: 45px; 
    font-weight: normal;
}

.color-aqua {
    color: #34b0bE;
}
.color-white{
    color: #ffffff;
}

/*Main nav*/
.main_header .contenedor {
    margin: 1rem auto;
    min-height: 50px;
    padding: 1rem;
}

.main-nav_list {
    display: flex;
    justify-content: flex-end;
    color: #ffffff;
}

.main-nav_list li {
    padding: .5rem 1.5rem;
    white-space: nowrap;
}

/*************Jumbotron************/
.jumbotron .contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5rem;
    justify-items:center;
    align-items: center;
    padding: .5rem 1rem;
    min-height: 50vh;

}

.jumbotron_section-left,
.jumbotron_section-right {
    /* justify-self:end;*/
    /* align-self:start;  */
    /* margin-right: -100px; */
    /* margin-right: -100px; */
    /* position: relative; */
    padding: .5rem;
    /* position: relative; */
}

.jumbotron_section-left {
    /* justify-self: end;
    align-self: flex-start; */
    /* right: -10rem; */
    /* margin-right: -10rem; */
    justify-self: flex-end;
    align-self: flex-start;
    /* left: 30%; */
    margin-right: -40%;
}

.jumbotron_section-right {
    /* justify-self: flex-start;
    align-self: flex-start; */
    /* left: -10rem; */
    /* min-width: 50%; */
    /* margin-left: -10rem; */
    justify-self: flex-start;
    align-self: flex-start;
    /* right: 50%; */
    margin-left: -30%;

}

.jumbotron_section-image {
    justify-self: center;
    align-self: center;
    border-radius: 100%;
    background-color: #353745;
    /* opacity: .1; */
    width: 500px;
    height: 500px;
    /* max-width: 100%; */
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 1rem;

}

.jumbotron-photo {
    max-width: 90%;
}

/*************Empresas************/
.empresas .contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    min-height: 200px;
    width: 70%;
    background-color: #353745;
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
}

.empresas_item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.empresas_item img{
    padding: 1rem;
    margin: .5rem;
    background-color:#D1CECA;
    border-radius: 10px;
    width: 200px;
    height: 150px;
}
@media(max-width:1250px){
    .main-title {
        font-weight: bolder;
        font-size: 100px;
        /* font-weight: semibold; */
    }
    
    .main-subtitle {
        font-weight: bold;
        font-size: 41px; 
        color: #ffffff;
    
    }
    
    .subsection-title {
        font-size: 32px; 
        font-weight: normal;
    }
    /*Jumbotron*/
    .jumbotron .contenedor {
        grid-template-columns: 1fr 2fr 1fr;
        gap: .5rem;
        
        padding: .5rem 1rem;
        min-height: 70vh;
    
    }

    .jumbotron_section-right {
        margin-left: -50%;
    
    }
    .jumbotron_section-image {
        /* width: 400px;
        height: 400px; */
    }
}
@media(max-width:1100px) {

    /*Main nav*/
    .main-nav_list li {
        padding: .5rem 1.2rem;
    }
    
    /*Jumbotron*/
    .jumbotron_section-image {
        justify-self: center;
        align-self: center;
        border-radius: 100%;
        background-color: #ffffff;
        opacity: .1;
        width: 450px;
        height: 450px;

    }

    .jumbotron_section-left {

        margin-right: -8rem;
    }

    .jumbotron_section-right {
        margin-left: -8rem;
    }

}

@media(max-width:800px) {
    .main-title {
        font-size: 50px;
        font-weight: semibold;
    }

    .main-subtitle {
        font-size: 32px;

    }

    .jumbotron .contenedor {
        grid-template-columns: 1fr;
        gap: .5rem;
        
        padding: .5rem 1rem;
        min-height: 50vh;
    
    }

    .jumbotron_section-left {
        margin-top:-30%;
        text-align: center;
        margin-right: 0;
        justify-self: center;
        /* grid-column: 1/2; */
        grid-row: 3/4;
    }

    .jumbotron_section-right {
        margin-bottom: -30%;
        text-align: center;
        margin-left: 0;
        justify-self: center;
        grid-row: 1/2;
        /* grid-column: 2/3;  */

    }

    .jumbotron_section-image {
        /* grid-row: 1/3; */
        width: 300px;
        height: 300px;
        align-self: flex-start;
        /* grid-column: 1/-1; */



    }

    .jumbotron-photo{
        max-width: 100%;
    }

}