* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #242635;
}

.contenedor {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.bg-black {
  background-color: #000000;
}



.color-aqua {
  color: #34b0be;
}

.color-white {
  color: #ffffff;
}

.color-black {
  color: #000000;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.d-flex {
  display: flex;
}

.max-height-0 {
  max-height: 100vh;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.title {
  font-weight: bolder;
  font-size: 50px;

}

.subtitle {
  font-weight: bolder;
  font-size: 32px;
  color: #ffffff;
  /* margin: .5rem; */
  padding: .5rem;
}

.small-subtitle {
  font-size: .8rem;
}

.subsection_title {
  /* margin: .5rem; */
  padding: .5rem;
  font-size: 18px;
  font-weight: normal;
}

.fw-bolder {
  font-weight: bolder;
}

.zoom-text {
  font-size: 105%;
  font-weight: bold;
}

.card {
  padding: .5rem;
  background-color: #ffffff;
  width: 90%;
  min-height: 7rem;
  border-radius: 5px;

  background-image: url('/assets/images/Ellipse 14.svg');
  background-repeat: no-repeat;
  background-position: center top;
}

.card-image {
  max-width: 100%;
}

.card svg {
  margin-top: 10%;
}

.max-width-100 {
  max-width: 100%;

}

.card-body {
  padding: 1rem .5rem;
  /* margin: 1rem auto; */

}

.card-title {
  margin: 1rem auto;
  padding: 1rem .5rem;
  font-weight: bold;
}

.card-text {
  color: #D1CECA;
  /* margin: 1rem auto; */
  padding: .5rem;
}

.primary-shadow {
  box-shadow: 7px 7px 10px #3e415a;

}

/*************Navegacion**************/
/*************************************/
.main-header .contenedor {
  min-height: 5rem;
  padding: .5rem .5rem;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: 10px;
  /* background-color: #3e415a99;
  box-shadow: 7px 7px 10px #3e415a; */
  background-color: #24263599;

}

.main-nav {
  padding: .5rem .1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 700ms ease-in;

}

.main-menu {
  color: #ffffff;
  /* margin-top: 3rem; */
}

.show-menu {
  max-height: 100vh;
  transition: max-height 700ms ease-out;


}

.menu-item {
  margin: .5rem .1rem;
  padding: .5rem 1rem;
  white-space: nowrap;
  cursor: pointer;
}

.menu-item:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  opacity: .7;

}

.menu-item a {
  transition: font-size .1s ease;
  display: block;
}

.btn-nav {
  display: block;
  position: absolute;
  z-index: 2;
  top: 1.3rem;
  right: 1.3rem;
  font-size: 2rem;
  cursor: pointer;

}

.btn-nav:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.nav-effect {

  background-color: #3e415a99;
  box-shadow: 7px 7px 10px #3e415a;

}

/*************Jumbotron***************/
/*************************************/

.jumbotron .contenedor {
  margin-top: 5rem;
  min-height: 33.3vh;

}

.jumbotron .contenedor>.row {
  /* min-height: 33.33vh; */
  min-height: 40vh;
  min-width: 100%;
  justify-content: space-between;
  position: relative;

}

.jumbotron_section-left,
.jumbotron_section-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jumbotron_section-left {
  order: 1;
}

.jumbotron_section-right {
  text-align: left;
}

.jumbotron-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 25vh;
  height: 25vh;
  z-index: -1;

  border-radius: 50%;
  max-height: 100%;
  background-color: #3e415a;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

}

.jumbotron-circle .img-fluid {
  max-width: 75%;
  max-height: auto;
}

.social-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: .3rem;
  align-items: center;

}

.social-media_item {
  background-color: #D1CECA;
  color: #242635;
  margin: .1rem;
  padding: .5rem;
  border-radius: 50%;
}

.social-media_item:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  opacity: .9;
}

/* 
.jumbotron .contenedor {
    min-height: 50vh;
    padding: 2rem 1rem;
    margin-top: 6rem;
}

.jumbotron .contenedor .row:nth-child(1) {
    min-height: 50vh;
    position: relative;

    align-items: flex-start;

}

.jumbotron_section-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.jumbotron_section-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.jumbotron-circle {
    position: absolute;
    width: 55vh;
    height: 55vh;

    background-color: grey;
    border-radius: 100%;
    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.perfil-image {
    max-width: 100%;
    height: 100.3%;

}

.jumbotron_hr {
}

.jumbotron .social-media {
    justify-content: flex-start;
    margin: .5rem;
    min-height: 3rem;

}

.jumbotron .item_social-media {
    background-color: #D1CECA;
    color: #242635;
    width: 2.7rem;
    height: 2.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin: auto .5rem;
    padding: .3rem;

} */

/*************Empresas****************/
/*************************************/
.empresas .contenedor {
  width: 65%;
  margin: 1rem auto;
  margin-top: -4%;
  padding: 1rem;
  background-color: gray;
  border-radius: 5px;
}

.empresas .contenedor .row {
  flex-wrap: nowrap;
}

.empresas .row .col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 50%; */
}

.empresa-item {
  width: 70%;
  margin: .5rem;
  padding: .5rem;
  background-color: #D1CECA;
  border-radius: 10px;
  text-align: center;

}

.empresa-item img {
  max-width: 100%;
  max-height: 6rem;
}

/*************About me****************/
/*************************************/
.about-me .contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  min-height: 50vh;
  padding: 1rem;
  text-align: center;
}

.about-me .subsection_title {
  margin: 1rem;
  padding: 1rem;
}

.about-me_text {
  width: 70%;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;

}

/*************Proyects*************/
/**********************************/
.proyects .contenedor {
  width: 75%;
  margin: 1rem auto;
  padding: 1rem;
}

.proyects-main {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.proyects-item {

  padding: .5rem;

  display: flex;
  justify-content: center;
  align-items: center;

}

.proyects-item .card {
  background-position: center -10%;
  text-align: center;
  word-break: normal;
  word-wrap: break-word;
  padding: 1rem .5rem;
  transition: all 300ms ease-in-out;

}

.proyects-item .card:hover {
  transition: all 300ms ease-in-out;
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  box-shadow: 10px 10px 20px #3e415a;
}



/************* Tecnologies*************/
/******************************************/
.tecnologies .contenedor {
  max-width: 75%;
  min-height: 50vh;
  margin: 1rem auto;
  padding: 1rem;
  /* display: flex;
  justify-content: stretch;
  align-items: stretch; */
}

.tecnologies-list {
  width: 100%;
  justify-content: space-between;
  
}

.tecnologies-list li{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 4rem;
  text-align: center;
  transition: all 300ms ease-in-out;
}

.tecnologies-list li:hover{
  transition: all 300ms ease-in-out;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.tecnologies-list i{
  box-shadow: 7px 7px 10px #3e415a;
  width: 100%;
  /* height: 7rem; */
  padding: 1rem;



}
.tecnologies-list p{
  font-size: 1.3rem;
  padding: .5rem 1rem;
  text-align: center;
  padding: .2rem;

}

/* 
.mis-habilidades_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tecnologias .small-subtitle {
  align-self: flex-start;
}

.progress-container {
  width: 100%;
  min-height: 1rem;
  background-color: gray;
  position: relative;
  border-radius: 10px;
}

.progress-bar {
  background-color: #34b0be;
  height: 100%;
  position: absolute;
  border-radius: 10px;

}

.progress-bar span {
  position: relative;
  top: -1.5rem;
  display: inline-block;
} */

/************* End Tecnologias*************/
/******************************************/

/************* Mis Portafolio*************/
/******************************************/
.mis-portafolio .contenedor {
  margin: 1rem auto;
  padding: 1rem;
}

.mis-portafolio .portafolio-item {
  padding: 1rem 2rem;
  filter: grayscale(100%);
}

.portafolio-item img {
  border: 1.5px solid;

}

/*************Contact**********************/
/******************************************/
.contact .contenedor {
  min-height: 50vh;
  margin: 1rem auto;
  padding: 1rem;
}

.contact .contenedor .row {
  min-height: 70vh
}

.contact-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-item {
  align-self: flex-start;
}

.right-item {
  align-self: flex-end;

}

.contact-item .card {
  max-width: 40%;
  /* max-height: 15rem;  */
  word-break: normal;
  word-wrap: break-word;
}

/*************Footer**************/
.main-footer .contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 7rem;
  margin: 1rem auto 0;
  padding: 1rem;
  background-color: gray;

}


/*************querys*************/
/********************************/
@media(min-width:576px) {
  .title {
    font-size: 80px;

  }

  .subtitle {

    font-size: 41px;

  }

  .small-subtitle {
    font-size: 1rem;
  }

  .subsection_title {

    font-size: 31px;

  }

  /*************Jumbotron**********************/
  /******************************************/

  .jumbotron .contenedor {
    max-width: 80%;
    margin-top: 7rem;
  }

  .jumbotron_section-left {
    order: 0;

  }

  .social-media_item {

    /* padding: 1rem; */
    /* margin: .5rem; */
    font-size: 1.5rem;
  }

  .jumbotron-circle {
    width: 40vh;
    height: 40vh;
  }

}

@media(min-width:768px) {

  /*************Nav**********************/
  /******************************************/
  .main-header .contenedor {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 95%;

  }

  .main-nav {
    padding: 0;
    overflow: initial;
    max-height: 100vh;
  }

  .main-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* position: relative; */
    /* height: 100%; */

  }

  .menu-item {
    margin: 0;
    padding: .5rem .3rem;
  }


  .btn-nav {
    display: none;


  }

  /*************End Nav**********************/
  /******************************************/
  /*************Jumbotron**********************/
  /******************************************/
  .jumbotron .contenedor>.row {
    min-width: 45vh;
    min-height: 45vh;
  }

  .jumbotron_section-left {
    flex-direction: column;
  }

  .jumbotron_section-right {
    flex-direction: column;
  }

  /*************End Jumbotron**********************/
  /******************************************/
  /*************Proyects**********************/
  /******************************************/
  .proyects-item .card {
    width: 100%;
    height: 23rem;

  }

  .proyects-item .card svg {
    max-width: 50%;
  }

  .proyects-item .card-body {}

  /*************End Proyects**********************/
  /******************************************/
  /************* Tecnologies*************/
  /******************************************/
  .tecnologies-list i{
    width: 100%;
    height: 8.5rem;
  }
  .tecnologies-list p{
    font-size: 1rem;
    word-wrap:break-word;
    word-spacing:1px;
  }
  .tecnologies-list {
    justify-content: flex-start;
  }
  /*************End Tecnologies*************/
  /******************************************/
}

@media(min-width:992px) {
  .title {
    font-size: 125px;

  }

  .subtitle {

    font-size: 50px;

  }

  .small-subtitle {
    font-size: 1.2rem;
  }

  .subsection_title {

    font-size: 45px;

  }

  /************Header*****************/
  /************************************/
  .menu-item {
    padding: .5rem 1rem;
  }

  /************End Header*****************/
  /************************************/
  /************Jumbotron*****************/
  /************************************/
  .jumbotron .contenedor>.row {

    min-width: 50vh;
    min-height: 50vh;
  }

  .jumbotron-circle {
    width: 50vh;
    height: 50vh;
  }

  /************End Jumbotron*****************/
  /************************************/
  /************Proyects*****************/
  /************************************/
  .proyects-item .card {
    height: 23rem;
  }



  /************End Proyects*****************/
  /************************************/


}