* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #242635;
}

.contenedor {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.color-aqua {
    color: #34b0be;
}

.color-white {
    color: #ffffff;
}

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.title {
    font-weight: bolder;
    font-size: 150px;

}

.subtitle {
    font-weight: bold;
    font-size: 50px;
    color: #ffffff;
}

.small-subtitle {
    font-size: 1rem;
}

.subsection_title {
    margin: .5rem;
    padding: .5rem;
    font-size: 45px;
    font-weight: normal;
}

.card {
    padding: .5rem;
    background-color: #ffffff;
    width: 90%;
    min-height: 7rem;
    border-radius: 5px;

    background-image: url('/assets/images/Ellipse 14.svg');
    background-repeat: no-repeat;
    background-position: center top;
}

.card-image {
    max-width: 100%;
}

.card svg {
    margin-top: 10%;
}

.max-width-100 {
    max-width: 100%;

}

.card-body {
    padding: 1rem .5rem;
    margin: 1rem auto;

}

.card-header {}

.card-footer {}

.card-title {
    margin: 1rem auto;
    padding: 1rem .5rem;
    font-weight: bold;
}

.card-text {
    color: #D1CECA;
    margin: 1rem auto;
    padding: .5rem;
}

/*************Navegacion**************/
/*************************************/
.main-header .contenedor {
    min-height: 5rem;
    padding: .5rem 1rem;
    margin: 1rem;

}

.main-nav {
    padding: .5rem .1rem;
    /* background-color: lightcoral; */
}

.main-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #ffffff;
}

.menu-item {
    margin: .5rem .5rem;
    padding: .5rem 1rem;
    white-space: nowrap;
}

.btn-nav {
    display: none;
}

/*************Jumbotron a 2 columnas**************/
/*************************************/
.jumbotron .contenedor {
    min-height: 50vh;
    padding: 2rem 1rem;
}

.jumbotron .contenedor .row:nth-child(1) {
    min-height: 50vh;
    position: relative;

    align-items: flex-start;

}

.jumbotron_section-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.jumbotron_section-right {
    /* align-items: flex-end; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.jumbotron-circle {
    position: absolute;
    width: 55vh;
    height: 55vh;

    background-color: grey;
    /* opacity: .1; */
    border-radius: 100%;
    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.perfil-image {
    max-width: 100%;
    height: 100.3%;

}

.jumbotron_hr {
    /* max-width: 90%; */
}

.jumbotron .social-media {
    justify-content: flex-start;
    gap: .5rem;
    margin: .5rem;
    min-height: 3rem;

}

.jumbotron .item_social-media {
    background-color: #D1CECA;
    color: #242635;
    width: 2.7rem;
    height: 2.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin: auto .5rem;
    padding: .3rem;

}

/*************Empresas*************/
/*************************************/
.empresas .contenedor {
    width: 65%;
    margin: 1rem auto;
    margin-top: -4%;
    padding: 1rem;
    background-color: gray;
    border-radius: 5px;
}

.empresas .contenedor .row {
    flex-wrap: nowrap;
}

.empresas .row .col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 50%; */
}

.empresa-item {
    width: 70%;
    margin: .5rem;
    padding: .5rem;
    background-color: #D1CECA;
    border-radius: 10px;
    text-align: center;

}

.empresa-item img {
    max-width: 100%;
    max-height: 6rem;
}

/*************About me****************/
/*************************************/
.about-me .contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    min-height: 50vh;
    padding: 1rem;
    text-align: center;
}

.about-me .subsection_title {
    margin: 1rem;
    padding: 1rem;
}

.about-me_text {
    width: 70%;
}

/************* Services*************/
.services .contenedor {
    width: 60%;
}

.services-main {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.services-item {

    padding: .5rem;

    display: flex;
    justify-content: center;
    align-items: center;

}

.services-item .card {
    max-width: 20rem;
    /* max-width: 100%; */
    background-position: center -10%;
    text-align: center;
    word-break: normal;
}

/************* Mis habilidades*************/
/******************************************/
.mis-habilidades .contenedor {
    max-width: 55%;
    min-height: 40vh;
}

.mis-habilidades_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mis-habilidades .small-subtitle {
    align-self: flex-start;
}

.progress-container {
    width: 100%;
    min-height: 1rem;
    background-color: gray;
    position: relative;
    border-radius: 10px;
}

.progress-bar {
    background-color: #34b0be;
    height: 100%;
    position: absolute;
    border-radius: 10px;

}

/************* Mis Portafolio*************/
/******************************************/

.mis-portafolio .portafolio-item {
    padding: 1rem 2rem;
}

.portafolio-item img {
    border: 1.5px solid;

}

/*************Contact*************/
/******************************************/
.contact .contenedor {
    min-height: 50vh;
}

.contact .contenedor .row {
    min-height: 50vh
}

.contact-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-item {
    align-self: flex-start;
}

.right-item {
    align-self: flex-end;

}

.contact-item .card {
    max-width: 50%;
    /* max-height: 10rem; */
}



/*************Footer**************/
.main-footer .contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 7rem;
    background-color: gray;
}


/*************querys*************/
@media(max-width:1250px) {
    .title {
        font-weight: bolder;
        font-size: 100px;

    }

    .subtitle {
        font-weight: bold;
        font-size: 41px;
        color: #ffffff;
    }

    .subsection_title {
        font-size: 32px;
        font-weight: normal;
    }

}

@media(max-width:1050px) {

    /*************Navegacion**************/
    /*************************************/
    .menu-item {
        margin: .5rem .1rem;
        padding: .5rem .5rem;
        white-space: nowrap;

    }

}

@media(max-width:850px) {

    :root {
        font-size: 16px;

    }

    .title {
        font-weight: bolder;
        font-size: 50px;

    }

    .subtitle {
        font-weight: bold;
        font-size: 32px;
        color: #ffffff;
    }

    .subsection_title {
        font-size: 18px;
        font-weight: normal;
    }


    /*************Jumbotron**************/

}

@media(max-width:767px) {
    /********Main navegacio***************/
    /************************************/

    .main-nav {
        max-height: 0;
        overflow: hidden;
        transition: max-height 2s;
        background-color: gray;
        padding: 0;
    }

    .main-menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .btn-nav {
        /* display: inline-block; */
        width: 100%;
        text-align: right;
        min-height: 3rem;

        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .btn-nav i {
        font-size: 2rem;
    }

    .show-menu {
        max-height: 100vh;

    }

    /*************Jumbotron**************/
    /************************************/
    .jumbotron .contenedor {
        min-height: 40vh;
    }
    .jumbotron .contenedor .row:nth-child(1) {
        min-height: 40vh;
    }
    .jumbotron_section-left,
    .jumbotron_section-right {
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
    }

    .perfil-image {
        max-width: 80%;

    }

    .jumbotron .social-media {
        flex-direction: column;

    }

    .jumbotron-circle {
        width: 40vmax;
        height: 40vmax;
    }

    /*************Empresas**************/
    /************************************/
    .empresas .contenedor {
        margin-top: -7%;

        /* margin: 0 auto; */
        /* padding: .5rem; */
       
    }

    .empresas .contenedor {
        /* width: 65%;
        margin: 1rem auto;
        margin-top: -4%;
        padding: 1rem;
        background-color: gray;
        border-radius: 5px; */
    }
    

}